.quotes{
    background: linear-gradient(135deg, #a5c9ed, #66c5e5);
    padding: 9rem 0;
    width:100%;
}

.quotes_content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color:#fff;
    letter-spacing: 1px;
    padding:0 20px;
}

.paragraph{
    line-height: 1.9;
    font-weight: 300;
    font-size: 30px;
}

.quote-icon{
    padding-left:1rem;
    padding-right: 1rem;
}

.paragraph_author{
    margin:2rem 0;
    text-transform: uppercase;
}

/*-Media Query-*/


@media(max-width:1040px){
    .quotes_content{
        max-width: 600px;
        padding:0 10px;
    }
    .paragraph{
        line-height: 1.5;
        font-weight: 300;
        font-size: 20px;
    }
    .quote-icon{
        padding-left:0.7rem;
        padding-right: 0.7rem;
    }
    
    
}

@media(max-width:840px){
    .quotes_content{
        max-width: 400px;
        padding:0 10px;
    }
    .paragraph{
        line-height: 1.5;
        font-weight: 300;
        font-size: 16px;
    }
    .paragraph_author{
        font-size: 12px;
    }
}